<!DOCTYPE html>
<html>
<head>
  <title>gather-it.</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Bootswatch Styles -->
  <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css">
  <!-- Bootstrap switch -->
  <!-- <link href="bootstrap-switch.css" rel="stylesheet"> -->
  <!-- Iconicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Toastr -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/app.js"></script>
  <script src="/js/auth.js"></script>
  <script src="/js/recipe.js"></script>
  
</head>
<body>

<!-- Login Modal -->
<div class="modal fade" id='login-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body" >
              <!-- Warning for bad login -->
        <div class="alert alert-warning alert-dismissible collapse" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Oh no!</strong> That login does not exist.
        </div>
        <!-- End of warning -->
                <form id="login-form" > <!-- Log In Form -->
        <div class="form-group">
          <label for="email">Email address</label>
          <input name='email' type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name='password' type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default login-btn" >Log In</button>
      </form> <!-- End Log In Form -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Sign Up Modal -->
<div class="modal fade not-logged-in" id='signup-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
      <form id='signup-form'> <!-- Sign Up Form -->
        <div class="form-group">
          <label for="email">Email address</label>
          <input name='email' type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input name='password' type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password2">Enter Password Again</label>
          <input name='password-confirm' type="password" class="form-control" id="password" placeholder="Enter Password Again"> 
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End of Sign Up Modal -->

  <nav class='navbar nav-right'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="recipe-search" class="navbar-brand" href="#">
          Recipe Search
        </a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#" id='guest' class='not-logged-in'>Guest</a></li> -->
          <li><a data-toggle='modal' data-target='#signup-modal' class='not-logged-in'>Sign Up</a></li>
          <li><a data-toggle='modal' data-target='#login-modal' class='not-logged-in'>Log In</a></li>
          <li><a href="#" id='logout'>Log Out</a></li>
        </ul>
    </div>
   </nav>

  <div id="page-wrapper" class="container-fluid">
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <header class="page-header">
          <h1>gather-it.</h1>
        </header>
      </div>
     </div> 
    <!-- Add new item form: -->
    <div class="row"><!-- first row -->
      <div class='col-xs-12 col-md-10 col-md-offset-2'><!-- first column -->
        <form action="" method="POST" role="form" class='form-inline' id='new-item-form'>
        <form type='hidden' value='none' id='hidden-form'>
          <div class="form-group">
            <input type="text" class="form-control" id="item-input" placeholder="New Item" name='name'>
          </div>
            <div class="dropdown form-group"><!--  Shelf life drop-down menu -->
              <select class='form-control' name="shelfLife">
                <option value="60000">  Shelf Life</option>
                <option value="345600000">Eat it soon!</option>
                <option value="604800000">Eat it this week</option>
                <option value="1209600000">Eat it within 2 weeks</option>
                <option value="2592000000">It will stay fresh all month</option>
                <option value="15552000000">This lasts forever!</option>
              </select>
            </div><!-- End of shelf life drop down menu -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
         </form>
         </form><!-- end of form -->   
      </div><!-- end of first column -->   
    </div> <!-- end of first row --> 
    <div class="row"> <!--second row-->
      <div class='col-xs-6 col-xs-offset-2 col-md-6 col-mid-offset-3'><!-- first column -->
        <hr>
        <h2> your list</h2>
        <hr>
        <ul class="list-unstyled" id="list-items-ul">
          <% items.reverse().forEach(function(item) { var d = new Date();
          var timeNow = d.getTime(); %>
          <li class='list-group <% if(timeNow < item.expiresAt) { var checkedClass = 'grey' }; %> 
          <%= checkedClass %>' id='<%= item._id %>'>
           <div class=''>
            <label class='checkbox-inline'>
            <input type='checkbox' id='checkbox' name='checkbox' class='checkbox' data-id='<%=item._id%>' 
            <% if(timeNow < item.expiresAt) { var text = 'checked' }; %> 
            <%= text %> >
            </label> <%=item.name%>
             <progress class='' max='100' value='<%=(100*((item.expiresAt - timeNow) / item.shelfLife))%>'> </progress>
              <div class='remove-item pull-right'>
               <button data-id='<%=item._id%>' type='button' class='close'>
               <i class='icon ion-ios-trash-outline'></i>
               </button>
              </div>
            </div>
          </li>
          <% }); %>
          <hr>
        </ul>
      </div><!--end of firs column-->
    </div><!--end of second row-->  
  </div>  <!-- end of container -->
</body>
</html>




