<!DOCTYPE html>
<html>
<head>
  <title>gather-it.</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Bootswatch Styles -->
  <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css">
  <!-- Bootstrap switch -->
  <!-- <link href="bootstrap-switch.css" rel="stylesheet"> -->
  <!-- Iconicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/app.js"></script>
  <script src="/js/auth.js"></script>
  <script src="/js/recipe.js"></script>
  
</head>
<body>

  <!-- Login Modal -->
  <div class="modal fade" id='login-modal'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <div class='alert' id='alert' style="display:none;"></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Log In</h4>
        </div>
        <div class="modal-body" >
          <!-- Warning for bad login -->
          <div class="alert alert-warning alert-dismissible collapse" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Oh no!</strong> Something went wrong, please try again.
          </div>
          <!-- End of warning -->
          <form id="login-form" > <!-- Log In Form -->
            <div class="form-group">
              <label for="email">Email address</label>
              <input name='email' type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input name='password' type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default login-btn" >Log In</button>
          </form> <!-- End Log In Form -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Sign Up Modal -->
  <div class="modal fade not-logged-in" id='signup-modal'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form id='signup-form'> <!-- Sign Up Form -->
            <div class="form-group">
              <label for="email">Email address</label>
              <input name='email' type="email" class="form-control" id="signup-email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="password1">Password</label>
              <input name='password' type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="password2">Enter Password Again</label>
              <input name='password-confirm' type="password" class="form-control" id="password" placeholder="Enter Password Again"> 
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- End of Sign Up Modal -->
  
  <nav class='navbar nav-right'>
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
        <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="#"><strong>gather-it.</strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href='/recipe' class="btn btn-primary" >Get Recipes</a>
          <li><a href='#' data-toggle='modal' data-target='#signup-modal' class='not-logged-in'>Sign Up</a></li>
          <li><a href='#' data-toggle='modal' data-target='#login-modal' class='not-logged-in'>Log In</a></li>
          <li><a href="#" id='logout' class='logged-in'>Log Out</a></li>
      </ul>
    </div>
  </nav>
  <header class="page-header">
    <div id="page-wrapper" class="container-fluid">
      <div class='row'>
         <div class='col-xs-12 col-md-8 col-md-offset-3'><!-- first column -->
            <form action="" method="POST" role="form" class='form-inline' id='new-item-form'>
              <form type='hidden' value='none' id='hidden-form'>
                <div class="form-group">
                  <input type="text" class="form-control" id="item-input" placeholder="Add New Item" name='name'>
                </div>
                <div class="dropdown form-group"><!--  Shelf life drop-down menu -->
                  <select class='form-control' name="shelfLife">
                    <option value="345600000">Stays fresh for: 4 days</option>
                    <option value="604800000">1 week</option>
                    <option value="1209600000">2 weeks</option>
                    <option value="2592000000">1 month</option>
                    <option value="31104000000">1 year</option>
                  </select>
                 </div><!-- End of shelf life drop down menu -->
                  <div class="form-group">
                  <button type="submit" class="btn btn-primary">Add</button>
                  </div>
              </form>
            </form><!-- end of form -->   
          </div><!-- end of first column -->   
        </div> <!-- end of first row -->
  </header>
  <div class="row"> <!--second row-->
    <div class='col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-2'><!-- first column -->
      <ul class="list-unstyled" id="list-items-ul">
        <% items.reverse().forEach(function(item) { var d = new Date();
            var timeNow = d.getTime(); %>
        <li class='list-group <% if(timeNow < item.expiresAt) { var checkedClass = 'grey' }; %> 
              <%= checkedClass %>' id='<%= item._id %>'>
          <div class='list-group inline'>
            <label class='checkbox-inline' checked=<%= !!item.purchasedAt %>>
              <input type='checkbox' id='checkbox' name='checkbox' class='checkbox' data-id='<%=item._id%>' 
                  <% if(timeNow < item.expiresAt) { var text = 'checked' }; %> 
                  <%= text %> >
            </label> <%=item.name%>
            <progress max='100' value='<%=((100*((item.expiresAt - timeNow) / item.shelfLife)))%>' data-id='<%=item._id%>'> 
            </progress>
            <div class='remove-item pull-right'>
            <button data-id='<%=item._id%>' type='button' class='close'>
            <i class='icon ion-ios-trash-outline list-group'></i>
            </button>
            </div>
          </div>
        </li>
           <% }); %>
      </ul>
    </div><!--end of firs column-->
  </div><!--end of second row-->  
  <div class='footer'>
    <div class="row"> <!--second row-->
     <div class='col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1'>
      <img src="css/GroceryBag.jpg">
    </div>
  </div>
  </div>  <!-- end of container -->
 </body>
 </html>




